:root {
    /*  Fonts */
    --f-hanwritten: 'Berkshire Swash', sans-serif;
    --f-regular: 'Josefin Sans', sans-serif;

    /* Colors */
    --c-first: #283739;
    --c-first-tran: #2837394d; 
    --c-second: #2c5d63; 
    --c-third: #a2c11c;
    --c-fourth: #e0e0e0; 

    /* Borders */
    --b-gamefield: 6px solid var(--c-third);
    --b-button: 2px solid var(--c-third);

    /* Cell measures */
    --cell-side: 10vw;
}

.blur {
    filter: blur(10px);
    z-index: -5;
    pointer-events: none;
}

.plate {
    border: var(--b-gamefield);
    border-radius: 3rem;
    box-shadow: 0px 0px 6px var(--c-second);
    background-color: var(--c-first-tran);
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    border: var(--b-button);
    border-radius: 0.9rem;
    box-shadow: 0px 0px 8px var(--c-second);
    font-family: var(--f-hanwritten);
    color: var(--c-third);
    background-color: var(--c-first-tran);
    padding: 3px 15px 7px 15px;
    margin: 10px;
    width: fit-content;
}

.button:hover {
    text-shadow: 0px 0px 8px var(--c-second);
    box-shadow: 0px 0px 20px var(--c-second);
    background-color: var(--c-first);
    cursor: pointer;
    transition: all 200ms ease-out;
}

.button:active {
    transform: scale(1.05);
    transition: all 50ms;
}

body {
    background-color: var(--c-first);
    box-sizing: border-box;
    overflow: hidden;
    height: fit-content;
}

#main-container {
    width: calc(var(--cell-side) * 3 + 36px);
    height: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3 var(--cell-side));
    grid-template-rows: auto repeat(3 var(--cell-side));
    gap: 6px;
}

#header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3rem;
}

#footer {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5rem;
}

#footer p {
    font-family: var(--f-regular);
    color: var(--c-fourth);
    font-size: 2rem;
    vertical-align: middle;
}

#footer a {
    font-family: var(--f-hanwritten);
    color: var(--c-third);
    text-decoration: none;
    text-shadow: 0px 0px 5px var(--c-second);
}

#footer p a > span {
    display: inline;
    content: url(./images/github.svg);
    height: 0.75em;
    width: auto;
    padding: 0.05em;
}

#footer a:hover {
    text-shadow: 0px 0px 20px var(--c-third);
    transition: 200ms ease-in;
}

#footer a:active {
    transform: scale(1.05);
    transition: 200ms ease-out;
}

h1 {
    color: var(--c-third);
    text-shadow: 0px 0px 5px var(--c-second);
    font-family: var(--f-hanwritten);
    text-align: center;
    font-size: 5rem;
    margin: 1rem;
}

#start-button,
#ret-button {
    font-size: 3rem;
}

#announcer {
    height: 4rem;
}

#announcer h2 {
    font-size: 3rem;
    font-family: var(--f-regular);
    color: var(--c-fourth);
    text-shadow: 0px 0px 3px var(--c-second);
}

h2 {
    font-family: var(--f-hanwritten);
    color: var(--c-third);
}

.cell {
    width: var(--cell-side);
    height: var(--cell-side);
    display: flex;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
}

.active {
    cursor: pointer;
}

.one {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-right: var(--b-gamefield);
    border-bottom: var(--b-gamefield);
}

.two {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-right: var(--b-gamefield);
    border-bottom: var(--b-gamefield);
    border-left: var(--b-gamefield);
}
.three {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border-bottom: var(--b-gamefield);
    border-left: var(--b-gamefield);
}

.four {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border-top: var(--b-gamefield);
    border-right: var(--b-gamefield);
    border-bottom: var(--b-gamefield);
}

.five {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border: var(--b-gamefield);
}

.six {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    border-top: var(--b-gamefield);
    border-left: var(--b-gamefield);
    border-bottom: var(--b-gamefield);
}

.seven {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    border-top: var(--b-gamefield);
    border-right: var(--b-gamefield);
}

.eight {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    border-right: var(--b-gamefield);
    border-top: var(--b-gamefield);
    border-left: var(--b-gamefield);
}

.nine {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    border-left: var(--b-gamefield);
    border-top: var(--b-gamefield);
}

.cross {
    transform: rotate(45deg);
    width: var(--cell-side);
    height: var(--cell-side);
}

.circle {
    width: calc(var(--cell-side) * 0.8);
    height: calc(var(--cell-side) * 0.8);
}

#form-container,
#end-screen {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}

#start {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    width: fit-content;
    height: auto;
    margin: 5rem auto;
}

fieldset {
    border: none;
    text-align: center;
    font-family: var(--f-regular);
    color: var(--c-fourth);
    text-shadow: 0px 0px 2px var(--c-second);
    display:grid;
    grid-template-rows: 1fr 2fr 2rem 2rem;
}

.player {
    width: auto;
    display: inline;
    vertical-align: middle;
}

.x {
    content: url(./images/plus-outline.svg);
    transform: rotate(45deg);
    height: 1em;
}

.o {
    content: url(./images/circle-double.svg);
    height: 0.8em;
}

.player-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto auto;
}

fieldset h2,
fieldset h3 {
    margin: 5px;
}

.player-type h3 {
    grid-column: 1 / 3;
}

input[type="radio"] {
    display: none;
}

.radio {
    grid-row: 3 / 4;
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
}

.checkmark {
    width: 5rem;
    height: 5rem;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    align-self: center;
    justify-self: center;
}

.radio:hover {
    cursor: pointer;
    text-shadow:0px 0px 5px var(--c-third);
}

.player-type input:checked + .type-human {
    content: url(./images/face-man.svg);

}

.player-type input:checked + .type-cpu {
    content: url(./images/robot.svg);
}

.radio-checked {
    color: var(--c-third);
    text-shadow: 0px 0px 5px var(--c-second);
}

select {
    padding: 0.5rem;
    width: 90%;
    margin: 0 auto;
    border: 1px solid var(--c-third);
    border-radius: 1rem;
    box-shadow: 0px 0px 3px var(--c-second);
    font-family: var(--f-regular);
    color: var(--c-fourth);
    background-color: var(--c-first-tran);
    font-size: 1rem;
    font-weight: 600;
}

select > option {
    color: var(--c-first);
}

button[type="submit"] {
    grid-row: -1 / -2;
    grid-column: 1 / 3;
    justify-self: center;
    font-size: 1.5rem;
}

#end-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#end-message h1 {
    text-shadow: 0px 0px 10px var(--c-first);
}

#lost-message-player,
#win-message-player {
    color: var(--c-fourth);
}

.no-visible,
.no-visible > * {
    display: none;
    z-index: -10;
    pointer-events: none;
}
